<div class="navbar bg-base-100">
	<div class="flex-1"><a class="btn btn-ghost text-xl">Blog Mu</a></div>
	<div class="flex-none gap-2">
		<div class="form-control"><input class="input input-bordered w-24 md:w-auto" type="text" placeholder="Search" /></div>
		<div class="dropdown dropdown-end">
			<div class="btn btn-ghost btn-circle avatar" tabindex="0" role="button">
				<div class="w-10 rounded-full"><img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" alt="Tailwind CSS Navbar component" /></div>
			</div>
			<ul class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52" tabindex="0">
				{% comment %} <li><a class="justify-between"> Profile <span class="badge">New</span> </a></li> {% endcomment %}
				<li><a href="{% url 'landing:index' %}"> Blog</a></li>
				<li><a href="{% url 'blog:index' %}">Post Blog</a></li>
				<li><a hx-trigger="click" hx-target="#root" hx-swap="data-theme:light; data-theme:dark">Switch Theme</a></li>
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'authentication:logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'authentication:login' %}">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
